.pomesteno {
    margin-bottom: 70px !important; 
    margin-left: 30%;
    margin-right: 35%;
}

.turquose {
    color: #047B69;
    font-size: 12pt;
}

.zeleno-kopce {
    background-color: #047B69;
    border-color: #047B69;
}

.desno {
    margin-left: 63.5%;
}