<!-- <footer>
  <div class="footer-copyright text-center footer-fixed">     
    <br>     
    
    © 2018 Copyright: 
    <p style="color:white"></p>
    </div>
</footer> -->

<footer class="inverse">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 style='color: #047B69;'>About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Pellentesque imperdiet consectetur dolor in elementum.</p>
      </div>

      <div class="col-md-4 list">
        <ul>
          <li><a [routerLink]="['/find']"><h4 class="torquese">·Find!</h4></a></li>
          <li><a [routerLink]="['/adopt']"><h4 class="torquese">·Adopt!</h4></a></li>
          <li><a [routerLink]="['/report']"><h4 class="torquese">·Report!</h4></a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5><strong style='color: #047B69;'>Contact Info</strong></h5>
        <p><strong>Adress:</strong> 514 S. Magnolia St.
          Orlando, FL 32806
          <!-- Random Adress -->
        </p>
        <p><strong>Email:</strong> email@example.com</p>
        <p><strong>Tel.:</strong> (888) 888 8888</p>
      </div>
    </div>
  </div>
</footer>