<!-- <footer>
  <div class="footer-copyright text-center footer-fixed">     
    <br>     
    
    © 2018 Copyright: 
    <p style="color:white"></p>
    </div>
</footer> -->

<footer class="inverse">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 style='color: #047B69; text-align: center'>About Us</h3>
        <p>From the comfort of their personal computers, pet lovers can search for a pet that best matches their needs. They can then reference a shelter’s web page and discover what services it offers.</p>
      </div>

      <div class="col-md-4 list" style="text-align: center">
        <ul>
          <li><a [routerLink]="['/adopt']"><h4 class="torquese">Adopt</h4></a></li>
          <li><a [routerLink]="['/find']"><h4 class="torquese">Find</h4></a></li>
          <li><a [routerLink]="['/report']"><h4 class="torquese">Report</h4></a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h3 style='color: #047B69; text-align: center'>Contact Info</h3>
        <p><strong>Authors: </strong> Ivana Karpuzova, Marta Tolevska, Irina Stojanoska
          <!-- Random Adress -->
        </p>
        <p><strong>Email: </strong> thinkaboutus@gmail.com</p>
        <p><strong>Tel. :</strong> (888) 888 8888</p>
      </div>
    </div>
  </div>
</footer>