<!-- <mat-card class="">
    <mat-card-title>

      <div class="homebtn">
        <button type="button" class="btn btn-md turquose" [routerLink]="['/adopt']">ADOPT</button>
      </div>
    </mat-card-title>
    <img class="small-items krug" src="../../assets/paww.png" alt="Card">
  </mat-card>

  <mat-card>
    <mat-card-title>
      <div class="homebtn">
        <button type="button" class="btn btn-md turquose" [routerLink]="['/find']">FIND</button>
      </div>
    </mat-card-title>
    <img class="small-items krug " src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fpagina.mx%2Fpub%2Fimg%2Fseo%2Fsearch.png&f=1"
      alt="Card">
  </mat-card>

  <mat-card>
    <mat-card-title>
      <div class="homebtn">
        <button type="button" class="btn btn-md turquose" [routerLink]="['/report']">REPORT</button>
      </div>
    </mat-card-title>
    <img class="small-items " src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn2.iconfinder.com%2Fdata%2Ficons%2Fjustice%2F512%2Flist_ok_notebook_notation_written-512.png&f=1"
      alt="Card">
  </mat-card> -->

<!-- <div class="main"> -->
<div style="position: relative; float: right; right: 7%; height: auto; width:10%;">
  <div style="padding-top: 21%">
    <div class="homebtn"> 
      <button type="button" class="btn btn-md turquose" [routerLink]="['/adopt']">ADOPT</button>
    </div>
    <img style="padding-top: 3%" class="small-items krug" src="../../assets/paww.png" alt="Card">
  </div>

  <div style="padding-top: 21%; height:100%">
    <div class="homebtn">
      <button type="button" class="btn btn-md turquose" [routerLink]="['/find']">FIND</button>
    </div>
    <div style="height: 70%">
        <img style="padding-top: 3%" class="small-items krug " src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fpagina.mx%2Fpub%2Fimg%2Fseo%2Fsearch.png&f=1"
        alt="Card">
    </div>
  </div>

  <div style="padding-top: 21%">
    <div class="homebtn">
      <button type="button" class="btn btn-md turquose" [routerLink]="['/report']">REPORT</button>
    </div>
    <img style="padding-top: 3%" class="small-items " src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn2.iconfinder.com%2Fdata%2Ficons%2Fjustice%2F512%2Flist_ok_notebook_notation_written-512.png&f=1"
      alt="Card">
  </div>
</div>

<!-- </div> -->
<!--
<div class="container">
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
    
  </div>
</div>
</div> -->